FORMAT: 1A
HOST: https://apis.uloz.to/

# Ulož.to API

First draft of Ulož.to API, with support for user login, logout and file search.

Security keys used thoughout the API

+ X-Auth-Token

        This key is issued for every application. Each application should have exactly one, unique auth token.

+ user_token

        User token is used to prove to API that your application has access to user's account. User token is obtained by validating login information through API /session.

+ X-Checksum

        Security checksum to sign your request with, assuring API that request was not tampered with.


# Group Root

## API Root [/]

This resource does not have any attributes. Instead it offers the initial
API affordances in the form of the links in the JSON body.

It is recommend to follow the “url” link values,
[Link](https://tools.ietf.org/html/rfc5988) or Location headers where
applicable to retrieve resources. Instead of constructing your own URLs,
to keep your client decoupled from implementation details.


## Retrieve entry points [GET]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

        {
            "search_url": "/search/v1",
            "session_url": "/session/v1",
            "userinfo_url": "/user/v1",
            "app_version_url": "/app-version/v1",
            "files_url": "/v1/files",
            "userfolders_list_url": "/v1/user/{user_token}/folders",
            "userfolders_url": "/v1/user/{user_token}/folders/{folder_id}"
        }

+ Response 401 (application/json)

    `Invalid X-Auth-Token provided , could not authorize your application.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

# Group Sessions


## Authentication [/session/v1]

### Authenticate user [PUT]

We need to authenticate user to get a session token. Session token is later used to identify a user.

`device_id` parameter is optional. Maximum length 50 characters.

+ Request (application/json)

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

    + Body

            {
                "login": "medvidek",
                "password": "123456",
                "device_id": "23489efgih2841"
            }

+ Response 201 (application/json)

    `User session created.`

    + Headers

            ETag: "asdiu328reewhfikw" - Session token

    + Body

            {
                "token_id": "asdiu328reewhfikw",
                "result": "ok",
                "message": null
            }

+ Response 401 (application/json)

    `Invalid X-Auth-Token provided , could not authorize your application.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }


+ Response 412 (application/json)

    `Unable to create user session.`

    + Body

            {
                "token": null,
                "result": "error",
                "message": "Wrong password or invalid username"
            }

## User sessions [/session/v1/{user_token}]

+ Parameters

    + user_token: asdiu328reewhfikw (string, optional) - Identifier of session


### Delete user session [DELETE]

Effectively a logout.

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

    + Headers

            ETag: "asdiu328reewhfikw"

    + Body

            {
                "result": "ok",
                "message": null
            }

+ Response 401 (application/json)

    `Invalid X-Auth-Token provided , could not authorize your application.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }


# Group User

## Basic user info [/user/v1/{user_token}]

+ Parameters
    + user_token: asdiu328reewhfikw (string, optional) - User session token, obtained by authentication

### Get user data [GET]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

    `Basic user info. Credit amount is measured in kilobytes.`

    + Body

            {
                "result": "ok",
                "message": null,
                "user_id": 666,
                "login": "medvidek",
                "credit": 413967
            }

+ Response 401 (application/json)

    `Invalid X-Auth-Token or user_token provided , could not authorize your application. Use WWW-Authenticate header value to find out which part of authentication is wrong (X-Auth-Token or user_token).`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }


## Users folders [/v1/user/{user_token}/folders{?tree}]

### Get all users folders [GET]

List of all user's folders. Folders are always ordered by name.

+ Parameters
    + user_token: "asdiu328reewhfikw" (string) - Identification of an user, obtained through /session entry point
    + tree (bool, optional) - If set to `true`, folder entities will be returned in the tree-like structure, with each folder entity containing its children in the `children` field.
        + Default: false

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)
    + Attributes (object)
        + items (array[Folder entity])

+ Response 400 (application/json)

    `Invalid parameter value`

    + Body

            {
                "result": "error",
                "message": "Invalid tree parameter value."
            }


+ Response 401 (application/json)

    `Invalid X-Auth-Token , could not authorize your application. Use correct WWW-Authenticate header.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }


### Create new folder [PUT]

+ `type` is always `normal`
+ `public_url` is provided only for public folders
+ `password` may be omitted or set to null if creating folder without password protection


+ Request (application/json)

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

    + Body

            {
                "name": "Cute folder name",
                "visibility": "public",
                "password": null,
                "parent_folder_id": 100
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 45678,
                "name": "Cute folder name",
                "name_sanitized": "Cute folder name",
                "visibility": "public",
                "public_url": "/m/soubory/my_username/cute_folder_name",
                "is_password_protected": false,
                "type": "normal",
                "parent_folder_id": 100
            }


+ Response 400 (application/json)

    `Unable to create folder - wrong data submitted.`

    + Body

            {
                "result": "error",
                "message": "Unable to create folder.",
                "errors": [
                    {
                        "data_element": "name",
                        "message": "Name cannot be empty."
                    },
                    {
                        "data_element": "name",
                        "message": "Name is too long."
                    },
                    {
                        "data_element": "visibility",
                        "message": "Allowed values are public and private."
                    },
                    {
                        "data_element": "parent_folder_id",
                        "message": "Parent folder does not exist."
                    },
                    {
                        "data_element": "parent_folder_id",
                        "message": "You must be owner of parent folder."
                    }
                ]
            }

+ Response 401 (application/json)

    `Invalid X-Auth-Token provided , could not authorize your application. Use correct WWW-Authenticate header.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

+ Response 409 (application/json)

    `Folder with this name already exists. Use different name.`

    + Body

            {
                "result": "error",
                "message": "This folder already exists"
            }

## Files in users folders [/v1/user/{user_token}/folder/{folder_id}{?page,limit,sort,search_query,filetype,include_password_protected}]

+ Parameters
    + user_token: asdiu328reewhfikw (required, string) - User token of folder owner
    + page: 1 (number, optional) - Fetch specific page number
        Default: 1
    + limit: 20 (number, optional) - Limit the result set to <limit> items
        Default: 20
    + sort: name (string, optional) - Sorting, one of [name; -name; created; -created; size; -size; extension; -extension]. This option may not be used without specifying `query`.
        Default: name
    + `search_query` (string, optional) - Return only files with names containing search_query
    + filetype: video (string, optional) - Filter found files, value might be one of [video; audio; image; document]. If empty, search will return all filetypes.
    + `include_password_protected`: false (boolean, optional) - If set to true, will include password protected files in the search results.
        Default: true


### Get users files in folder [GET]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

    + Headers

            Link: </v1/user/{user_token}/folder/{folder_id}?page=1>;rel=self,</v1/user/{user_token}/folder/{folder_id}?page=2>;rel=next

    + Attributes
        + metadata (object)
            + page: 1
            + limit: 20
            + page_count: 12
            + items_count: 236
        + items (array[Basic file entity])


# Group File

## File detail info [/v1/files/{slug}{?password,user_token,upload_token}]

File detail data

+ Parameters
    + slug: !8DzBBNAuS (string, required) - Slug from file listing API calls. Slug may change when file is renamed. Old slug will keep working, but new slug will be issued by API calls.
    + user_token: asdiu328reewhfikw (string, optional) - To access user's private file, you need to identify yourself with his token
    + upload_token: skesfwkfjsnfsefk:123 (string, optional) - To write access to anonymous file in upload process, you need to use upload token
    + password: 123macko (string, optional) - To access password protected file, you need to provide the file's password (password is not necessary to access own files, password does not allow writing file not my own)

### Get file detail info [GET]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)
    + Attributes (Detailed file entity)

+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

### Update file properties [PATCH]

Update file properties.
All properties are optional, every property present in request body will be changed.
Property set to `null` will be set to default value where possible.
Updating any property may affect other properties (e.g., changing `name` may change `url` and `realm`).

+ Request (application/json)

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

    + Attributes (Update file entity)

+ Response 200 (application/json)
    + Attributes (Detailed file entity)

+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

+ Response 400 (application/json)

    `Unable to update file - wrong data submitted.`

    + Body

            {
                "result": "error",
                "message": "Unable to update file.",
                "errors": [
                    {
                        "data_element": "name",
                        "message": "Name cannot be empty."
                    },
                    {
                        "data_element": "folder_id",
                        "message": "File owner must own the folder too."
                    },
                    {
                        "data_element": "visibility",
                        "message": "Public visibility is forbidden for this file."
                    }
                ]
            }

### Delete file [DELETE]

Delete your file.

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 204 (application/json)

    Delete successfull

    + Header

+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }


# Group Upload

## Upload batch commit [/v1/upload/batch/{batch_uuid}/commit{?user_token,visibility,is_searchable}]

+ Parameters
    + batch_uuid: d5ec97a3-cb15-46d3-8f5f-5125378a22c9 (string, required) - Upload batch unique ID
    + visibility (enum) - Either `public` or `private`
    + is_searchable: true (boolean, required) - Sets sets this searchable flag to all files currently in batch
    + user_token: asdiu328reewhfikw (string, optional) - To access user's upload batch, you need to identify yourself with his token

### Upload batch commit [PUT]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

    `Commit succesfull`

    + Body

            {
                "after_upload_url": "/sem/nahrano/d5ec97a3-cb15-46d3-8f5f-5125378a22c9",
                "files": [
                    {
                        "slug": "abcd/asdasd",
                        "visibility": "public",
                        "is_searchable": false
                    },
                    {
                        "slug": "efgh/sfefefe",
                        "visibility": "private",
                        "is_searchable": false
                    }
                ]
            }

+ Response 400 (application/json)

    `Input data invalid`

    + Body

            {
                "result": "error",
                "message": "Unknown data received."
            }

+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

+ Response 403 (application/json)

    `Batch is not valid for edit.`

    + Body

            {
                "result": "error",
                "message": "Batch is not valid for edit."
            }

+ Response 404 (application/json)

    `Unknown batch_uuid`

    + Body

            {
                "result": "error",
                "message": "Unknown batch uuid."
            }


## Upload file progress [/v1/upload/batch/{batch_uuid}/file/{batch_file_id}]

+ Parameters
    + batch_uuid: d5ec97a3-cb15-46d3-8f5f-5125378a22c9 (string, required) - Upload batch unique ID
    + batch_file_id: 10 (number, required) - File ID in upload batch (i.e., ordinal number of file in upload batch)

### Get file upload status [GET]

+ Request

    + Header

            X-Auth-Token: 3284hedgf237ruewhfvgi2378

+ Response 200 (application/json)

    + Attributes
        + status: uploading (enum[string], required)
            + Members
                + uploading
                + done
                + error
        + received: 456789 (number, required) - Number of bytes of HTTP request recieved on server
        + size: 54646546 (number, required) - Uploading HTTP request size
        + slug: null (string, optional) - File slug, available only when status is done

+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

+ Response 404 (application/json)

    `Unknown batch_uuid or batch_file_id`

    + Body

            {
                "result": "error",
                "message:" "batch_uuid or batch_file_id not found"
            }


# Group Search

## Search [/search/v1/{query}{?page,limit,user_token,sort,filetype,include_password_protected}]

+ Parameters
    + query: zahradniceni rostliny (string, optional) - Searched query. If query is empty, search will return random files in random order.
    + user_token: asdiu328reewhfikw (string, required) - Perform search as a frontend user (instead of anonymous search)
    + page: 1 (number, optional) - Fetch specific page number
        Default: 1
    + limit: 20 (number, optional) - Limit the result set to <limit> items
        Default: 20
    + sort: weight (enum, optional) - Sorting, one of [`weight`, `created`, `ratings`, `size`, `-size`]. This option may not be used without specifying `query`.
        Default: weight
    + filetype: video (string, optional) - Filter found files, value might be one of (`video`, `audio`, `image`, `document`). If empty, search will return all filetypes.
    + include_password_protected: false (boolean, optional) - If set to `true`, will include password protected files in the search results.

### Get search result [GET]

Perform search request. Response consists of two parts
+ metadata with informaton about the search (time, page, items count etc.)
+ list of search items (list of entries, one for each file)

+ Request

    + Headers

            X-Auth-Token: 3284hedgf237ruewhfvgi2378
            X-Checksum: 93bd5933f956598617c73c2864b00c00
            X-Timestamp: 1436957691

+ Response 200 (application/json)
    + Headers

            Link: </search/zahradniceni rostliny>;rel=self,</search/zahradniceni rostliny>;rel=next,</search/zahradniceni rostliny>;rel=previous

    + Attributes (object)
        + result: ok
        + message: null
        + metadata (object)
            + query: zahradniceni rostliny
            + displayed_query: "zahradniceni rostliny
            + run_at: "2014-11-11T08:40:51.620Z
            + page: 1
            + limit: 20
            + page_count: 12
            + items_count: 236
        + items (object)
            + exact (array[Basic file entity])
            + partial (array[Basic file entity])

+ Response 429 (application/json)

    + Body

            {
                "result": "error",
                "message": "Too many requests. Please slow down a little and try again later."
            }


+ Response 412 (application/json)

    `Wrong request parameter. For e.g. limit less than 1 or more than 100, unsupported filter etc.`

    + Body

            {
                "result": "error",
                "message": "Wrong request parameter.",
                "extra": "Parameter limit must be between <1, 100>"
            }


+ Response 404 (application/json)

    `Requested response does not exist. Maybe you are trying to access page parameter beyond the existing results?`

    + Header

    + Body

            {
                "result": "error",
                "message": "Requested page index is out of range for given query.",
                "page_count": 1,
                "items_count": 8
            }


+ Response 401 (application/json)

    `Invalid X-Auth-Token, password or user_token, could not authorize your request.`

    + Header

            WWW-Authenticate: X-Auth-Token

    + Body

            {
                "result": "error",
                "message": "Invalid authorization token."
            }

# Group Application info

## Aplication version [/app-version/v1/{app_name}]

This entry point is not secured, and is publicly accessible.

+ Parameters
    + app_name: `ulozto-android` (required, string) - Uniquely identifies application.

### Get version info [GET]

+ Response 200 (application/json)

    + Attributes (object)

        + version.internal: 10097 (number, required) - Internal version, should at least loosely follow some kind of semantic versioning (SEMVER)
        + version.displayed: 1.1 (string, required) - Version number to show to users
        + url: http://uloz.to/path/to/app (string, required) - Url to download last version
        + checksum: 217acf325c6012c1a50828e74626b945 (string, required) - MD5 checksum of the last version


    + Body

            {
                "result": "ok",
                "message": null,
                "version": {
                    "internal": 21,
                    "displayed": "1.1"
                },
                "url": "http://utapi.jaitner.cz/app-debug.apk",
                "checksum": "4db14073c820e324c499f446627a3eec"
            }

+ Response 404 (application/json)

    Unknown application name (app_name)

    + Body

            {
                "result": "error",
                "message": "Unknown application."
            }


# Data structures

## Detailed file entity (object)
## Properties
+ id: aYu7nBQ (string, required) - encrypted id of file
+ slug: !ksiXPSXP6 (string, required) - identificator used for other API calls affecting file. Slug may change when file is renamed. Old slug will keep working, but new slug will be issued by API calls.
+ url: `/!ksiXPSXP6/poznavacka-rostlin-pptx` (string, required)
+ realm (enum[string], default, required)
    + Default: ulozto
    + Members
        + ulozto
        + pornfile
+ name: Poznávačka rostlin.pptx (string, required) - name of the file
+ name_sanitized: `Poznávačka ***.pptx` (string, required) - name of the file with bad words replaced
+ description: `this could potentially be a rather\r\nlong description` (string, optional) - File description
+ description_sanitized: `this could *** *** a rather\r\nlong description` (string, optional) - File description with bad words replaced
+ filesize: 158367932 (number, required) - filesize in bytes
+ extension: pptx (string, required) - file extension
+ rating: 0 (number, required) - file rating (sum of thumbs up and thumbs down)
+ password_protected_archive: false (boolean, required) - IF the file is archive, AND that archive is password protected. This file can be downloaded.
+ password_protected_file: false (boolean, required) - You must know correct password to access the file detail or to download this file.
+ media_info
    + array(object) - key:value array. Key defines size and format of thumbnail, value is a list of images.
+ visibility (enum[string], default, nullable, required)
    + Default: public
    + Members
        + public
        + private
+ is_searchable: true (boolean, required) - When `false`, file will be hidden form public searchers.
+ expire_download: null (string, nullable, optional) - When not `null`, file is download resticted up to this number.
+ expire_time: 2016-01-01 (string, nullable, optional) - When not `null`, file is download resticted up to this day.
+ folder_id: 0 (number, required) - ID of folder containing this file. `0` is root folder for every user and only possible folder for anonymous files.
+ format
    + width: 320 (number, optional) - If available, width of video/image
    + height: 200 (number, optional) - If available, height of video/image
    + duration: 296 (number, optional) - Length of the video/audio in seconds
    + content_type (enum[string], default, nullable, required)
        + Default: null
        + Members
            + null
            + video
            + audio
            + image
            + archive
            + document
    + streamable: false (boolean) - `true` for streamable videofile
+ attributes (object, optional)
    + archive_files (array, optional)
    + video_data (array, optional)
    + audio_data (array, optional)

## Basic file entity (object)
## Properties
+ id: aYu7nBQ (string, required) - encrypted id of file
+ slug: !ksiXPSXP6 (string, required) - identificator used for other API calls affecting file. Slug may change when file is renamed. Old slug will keep working, but new slug will be issued by API calls.
+ url: `/!ksiXPSXP6/poznavacka-rostlin-pptx` (string, required)
+ realm (enum[string], default, required)
    + Default: ulozto
    + Members
        + ulozto
        + pornfile
+ name: Poznávačka rostlin.pptx (string, required) - name of the file
+ name_sanitized: `Poznávačka ***.pptx` (string, required) - name of the file with bad words replaced
+ filesize: 158367932 (number, required) - filesize in bytes
+ extension: pptx (string, required) - file extension
+ rating: 0 (number, required) - file rating (sum of thumbs up and thumbs down)
+ content_type (enum[string], default, nullable, required)
    + Default: null
    + Members
        + null
        + video
        + audio
        + image
        + archive
        + document
+ password_protected_archive: false (boolean, required) - IF the file is archive, AND that archive is password protected. This file can be downloaded.
+ password_protected_file: false (boolean, required) - You must know correct password to access the file detail or to download this file.
+ media_info
    + array(object) - key:value array. Key defines size and format of thumbnail, value is a list of images.
+ visibility (enum[string], default, nullable, required)
    + Default: public
    + Members
        + public
        + private
+ duration: 296 (number, optional) - Length of the video/audio in seconds (if videofile)
+ streamable: false (boolean, optional) - `true` for streamable videofile

## Update file entity (object)
## Properties
+ name (string, required) - Change name of the file. New name must end with same extension as old one (case-sensitive).
+ description (string, required, nullable) - Change file description. No description by default.
+ visibility (enum[string], default, nullable, required)
    + Default: public
    + Members
        + public
        + private
+ password (string, optional) - Set password protection. No password when null.
+ is_searchable: true (boolean, optional) - Set to `false` to hide file from public search.
+ expire_download: 100 (number, nullable, optional) - Restrict public access to file by number of downloads remaining. No limit by default.
+ expire_time: 2016-01-01 (string , nullable, optional) - Restrict public access to file by date. No limit by default.
+ folder_id: 0 (number, optional) - Assign file to folder (`0` = root folder, file and folder owner must match).



## Folder entity (object)
## Properties
+ id: 25792 (number, required) - Folder id (`0` is root folder for each user)
+ name: My very own folder (string, required) - Folder's name. Root folder is always named `root`, you are advised to translate this name to something that suits your application.
+ name_sanitized: `"My *** folder"` (string) - Folder's namen with bad words replaced.
+ visibility (enum[string], default, nullable, required)
    + Default: public
    + Members
        + public
        + private
+ public_url: `/soubory/user_name/my-very-own-folder` (string, required) - Url to folder's public view (`null` when not available)
+ is_password_protected: true (boolean) - Public folder, other users need to provide password to see contents of this folder
+ type (enum[string], default, required)
    + Default: normal
    + Members
        + root
        + gallery
        + normal
        + videoshare
        + favorites
        + documents
        + audios
        + videos
+ parent_folder_id: 0 (number, required) - Parrent folder id
+ children (array[Folder entity]) - this field is present if requesting folders in `tree` format
